body {
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
  background-color: #eee;
}

div {
  width: 30vw;
  aspect-ratio: 1;
  background-color: #787878;
  box-shadow: 15vw 15vw 0px 0px #fb0,
    -15vw -15vw 0px 0px #f65314,
    15vw -15vw 0px 0px #7cbb00,
    -15vw 15vw 0px 0px #00a1f1;
}

@media (min-width:500px) {
  div {
    width: 18vw;
    box-shadow: 9vw 9vw 0px 0px #fb0, -9vw -9vw 0px 0px #f65314,
      9vw -9vw 0px 0px #7cbb00, -9vw 9vw 0px 0px #00a1f1;
  }

}

@media (min-width:990px) {
  div {
    width: 14vw;
    box-shadow: 7vw 7vw 0px 0px #fb0, -7vw -7vw 0px 0px #f65314,
      7vw -7vw 0px 0px #7cbb00, -7vw 7vw 0px 0px #00a1f1;
  }
}